.logo {
     /* background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);  */
     /* background-position: 0 -130px; */
    background-image: url(/img/logo.png);
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
}

.authentiocation-block h1.logo{
    margin: 22px auto 27px;
    height: 48px;
    width: 154px;
}
.el-function {
    display: flex;
    height: 36px;
    width: 258px;
    flex-direction: column;
    margin: 0 40px 6px;
    /* color: rgb(142, 142, 142); */
}

.el-function input,
button {
    height: 36px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
}

.el-function button {
    font-weight: 600;
    font-size: 16px;
}

.el-function input {
    font-size: 12px;
    font-weight: 450;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
}



#button-enter {
    margin-top: 23px;
}

#button-enter button {
    /* background-color:  rgb(178 223 252); */
    line-height: 18px;
    text-align: center;
    background-color: rgba(var(--d69, 0, 149, 246), .3);
    opacity: 1;
    color: #fafafa;
}

#facebook-block span {
    position: relative;

}

#facebook-block button span:first-of-type {
    background-position: -414px -300px;
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_core_32f0a4f27407.png/32f0a4f27407.png);
    height: 17px;
    width: 16px;
    position: initial;
    margin-right: 6px;
}

#facebook-block button {
    color: #ffffff;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0095f6;

}

#facebook-icon {
    top: 26px;
    left: 26%;
    width: 163px;

}

.register-block {
    margin-top: 20px;
  
}

.register-block p {
    text-align: center;
    font-weight: 400;
    margin: 15px 15px;
    font-size: 15px;
}
.content{
    background-color: white;
}

.content__registration-block h1.logo{
    height: 46px;
    width: 147px;
    margin: 22px auto 13px;
    justify-content: center;
}
.content__registration-block h2{
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0 40px 10px;
    text-align: center;
    color: rgba(var(--f52,142,142,142),1);
}
